<!DOCTYPE html>
<html>
<head>
    <title>{{space.title}}</title>
</head>
<body>
    <h1>{{space.title}}</h1>
    <p>
        <strong>Description:</strong> <br>
        {{space.description}}
    </p>

    <div>
        <p>Available Dates</p>
        
        {% for availability in availabilities %}
       
            {{availability.date}}
            <form method="post" action="{{ url_for('post_book_space', space_id = availability.space_id, date = availability.date, tenant_id = tenant.id, space_title = space.title, landlord_id = space.landlord_id) }}">
                <input type="submit" name="book" value="Book">
            </form>
        {% endfor %}
        
        
    </div>
    <h2><a href="/tenant_dashboard/{{tenant.id}}">Back to dashboard</a></h2>

</body>
</html>

