<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p>This is the homepage.</h1>
        <p>Are you a?</p>
        <p>
            <a href="http://127.0.0.1:5000/landlord_login">Landlord</a>
        </p>
        <p>Tenant</p>
    </body>
</html>
