<!DOCTYPE html>
<html>
<head>
    <title>Landlord Listing</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <h1>Your spaces and requests, {{ landlord.username }}</h1>

    <ul>
        {% for space in spaces %}
        <li class="space-name">{{ space.title }} - Price per night: ${{ space.price_per_night }}</li>
        {% endfor %}
    </ul>

    <h2>Booking Requests:</h2>
    <ul>
        {% for request in requests %}
        <li class="booking-request">{{ request.space_title }} - Date: {{ request.date }} - Status: {{ request.status }}
            <form method="post" action="{{ url_for('approve_booking', booking_id=request.id) }}">
                <button class="approve-button" type="submit">Approve</button>
            </form>
            <form method="post" action="{{ url_for('deny_booking', booking_id=request.id) }}">
                <button class="deny-button" type="submit">Deny</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <h2><a  class="back-button" href="/landlord_dashboard/{{landlord.id}}">Back to dashboard</a></h2>
</body>
</html>