<!DOCTYPE html>
<html>
<head>
    <title>Tenant requests</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <h1 class="t-my-requests">Your requests, {{tenant.username}}</h1>
        <ul>
            {% for booking in bookings %}
            <p class="request">
            {{ booking.space_title }} - Date: {{ booking.date }} - Status: {{ booking.status }}
            </p>
            {% endfor %}
        </ul>
    <h2><a href="/tenant_dashboard/{{tenant.id}}">Back to dashboard</a></h2>
</body>
</html>