<!DOCTYPE html>
<html>
<head>
    <title>Tenant requests</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <h1 class="t-my-requests">My requests</h1>
    {% for booking in bookings %}
        <ul>
            <li class="request">
                {{ booking.space_title }} - Date: {{ booking.date }} - Status: {{ booking.status }}
            </li>
        </ul>
    {% endfor %}
    <h2><a href="/tenant_dashboard/{{tenant.id}}">Back to dashboard</a></h2>
</body>
</html>