<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Tenant Login</h1>
        {% for tenant in tenants %}
            <p>Tenant Username: 
                <a href="/tenant_dashboard/{{tenant.id}}">{{tenant.username}}</a>
            </p>
        {% endfor %}
    </body>
</html>
